---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import iconImage from '../images/akatsuki1910.webp';
---

<Layout title="akatsuki1910">
  <main class="main">
    <h1 class="icon-wrapper">
      <Image src={iconImage} alt={'akatsuki1910'} class="icon" />
    </h1>
  </main>
</Layout>

<style lang="scss">
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .icon-wrapper {
    width: 440px;
    border: 1px solid black;
  }

  .icon {
    width: 100%;
    height: auto;
  }
</style>
