---
import Layout from '../layouts/Layout.astro';
import FaviconImage from '../components/FaviconImage.astro';

const LINKS = [
  { url: 'https://twitter.com/teruru33550336', id: 'teruru33550336' },
  { url: 'https://qiita.com/Akatsuki1910', id: 'Akatsuki1910' },
  {
    url: 'https://vrchat.com/home/user/usr_44b7238d-3c43-4276-b084-06a0b04ba9bb',
    id: 'akatsuki1910',
  },
  { url: 'https://www.youtube.com/@akatsuki1910', id: 'akatsuki1910' },
  { url: 'https://github.com/Akatsuki1910', id: 'Akatsuki1910' },
  { url: 'https://www.instagram.com/1910akatsuki', id: '1910akatsuki' },
  { url: 'https://www.nicovideo.jp/user/65165655', id: '暁の流星' },
  { url: 'https://akatsuki1910.hatenablog.com', id: 'akatsuki1910' },
  { url: 'https://suzuri.jp/akatsuki1910', id: 'akatsuki1910' },
  { url: 'https://atcoder.jp/users/Akatsuki1910', id: 'Akatsuki1910' },
  { url: 'https://neort.io/@kxRaHBGSlVbGNFln0YnNYdFUNIC3', id: '暁の流星' },
  { url: 'https://openprocessing.org/user/304034', id: 'akatsuki1910' },
  { url: 'https://speakerdeck.com/akatsuki1910', id: 'akatsuki1910' },
  { url: 'https://www.wantedly.com/id/nakamura_ikuto', id: 'nakamura_ikuto' },
  { url: 'https://www.linkedin.com/in/nakamura-ikuto/', id: 'Ikuto Nakamura' },
] as const satisfies ReadonlyArray<{ url: string; id: string }>;
---

<Layout title="links">
  <main class="main">
    <ul class="ul">
      {
        LINKS.map((v) => (
          <li class="li">
            <a
              class="a"
              href={v.url}
              translate="no"
              target="_blank"
              rel="noopener noreferrer"
            >
              <FaviconImage url={v.url} />
              {v.id}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 0;
  }

  .li {
    list-style: none;
  }

  .a {
    display: flex;
    gap: 10px;
    align-items: center;
  }
</style>
