---
import type { ComponentProps } from 'astro/types';
import ContentsList from './ContentsList.astro';
import SectionWrapper from './SectionWrapper.astro';

const CREATES = [
  {
    title: 'つぶやきprocessing',
    description: '「#つぶやきprocessing」を投稿していました',
    urls: [
      'https://x.com/search?q=(%23%E3%81%A4%E3%81%B6%E3%82%84%E3%81%8Dprocessing)%20(from%3Ateruru33550336)&src=typed_query',
    ],
  },
  {
    title: 'freaks',
    description: '電子レンジをバンバンするアレを再現しました',
    urls: [
      'https://x.com/kayac_inc/status/1626064241051701250',
      'https://github.com/Akatsuki1910/freaks',
    ],
  },
  {
    title: 'maze3d',
    description: 'Windows95のスクリーンセーバーを作っちゃいました',
    urls: [
      'https://x.com/kayac_inc/status/1598648734820212736',
      'https://github.com/Akatsuki1910/maze3d',
    ],
  },
  {
    title: 'saizeriya rss',
    description: 'サイゼリヤのrssです',
    urls: ['https://saizeriya.net'],
  },
  {
    title: '終わらん',
    description: '「○○.終わ.らん」というネタドメインです',
    urls: ['https://owa.run/'],
  },
] as const satisfies ComponentProps<typeof ContentsList>['data'];
---

<SectionWrapper id="create">
  <div class="wrapper">
    <ContentsList data={CREATES} />
  </div>
</SectionWrapper>

<style lang="scss">
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
</style>
