<footer class="main">
  <p>&copy; Akatsuki1910</p>
</footer>
<style lang="scss">
  .main {
    padding: 16px 0;
    margin-top: 32px;
    color: white;
    text-align: center;
    background-color: black;
    border-top: 1px solid white;
  }
</style>
