<header class="header">
  <a href="/"><span class="material-symbols-outlined">home</span></a>
  <a href="/works"><span class="material-symbols-outlined">work</span></a>
  <a href="/links"><span class="material-symbols-outlined">person</span></a>
</header>

<style lang="scss">
  .header {
    height: 100px;
    background-color: red;
  }
</style>
