---
import Favicons from '../components/Favicons.astro';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="aktk1910.com" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="akatsuki1910" />
    <meta name="theme-color" content="#0a0a0a" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <style>
      @import 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&family=Noto+Sans+JP:wght@100..900&display=swap';
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <meta name="generator" content={Astro.generator} />
    <script src="../ts/layout.ts"></script>
    <Favicons />
    <title>akatsuki1910</title>
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-PHKDG4M0XK"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-PHKDG4M0XK');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
</style>

<style lang="scss">
  html,
  body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    color: $color-text;
    background-color: $color-bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @include eye-over('data-loaded');

    position: relative;

    &::before,
    &::after {
      z-index: 1000;
    }
  }
</style>
